# Django
DEBUG=True
SECRET_KEY=change-me-in-production-use-a-long-random-string
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database  (must match docker-compose.yml)
POSTGRES_DB=cinereserve
POSTGRES_USER=cinereserve
POSTGRES_PASSWORD=cinereserve
DATABASE_URL=postgres://cinereserve:cinereserve@db:5432/cinereserve

# Redis
REDIS_URL=redis://redis:6379/0

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
